html, body {
    margin: 0;
    padding: 0;
  }
canvas {
    display: block;
}
.main{
  margin-left: 1%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .tools{
    flex: 1;
    margin-left: 1%;
    display: flex;
    align-items: center;
    p input{
      flex: 1;
    }
  }
  .radio{
    flex :1;
    margin-left: 1%;
    display: flex;
    align-items: center;
  }
}
